body{background-color:grey;}

h1 {margin:auto; width:35%; background-color:darkgrey; color:#900; text-align:center; padding:5px;}

p {color:white; text-align:center;}

section {margin: auto; width: 15%; paddingx: 20px; float:none;}

button {margin:auto; background-color:#900; color:white; text-align:center; padding:20px;}

div.buttons {margin:auto; background-color:darkgrey; text-align:center; padding:15%;}
